<a href="https://colab.research.google.com/github/yjlee9612/BDI475-Final-Project-Starbucks/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I picked this Starbucks app customer rewards data because I am a loyal starbucks customer who regularly checks offers from Starbucks. I would like to look for the target customers of Starbucks by looking at the offer response trends.

What targeted marketing strategies should Starbucks perform?

In [1]:
# import pandas as pd

# portfolio = pd.read_csv('https://github.com/bdi475/sp2021-final-case-study-datasets/raw/main/starbucks-rewards/portfolio.csv')
# profile = pd.read_csv('https://github.com/bdi475/sp2021-final-case-study-datasets/raw/main/starbucks-rewards/profile.csv',
#                      parse_dates=['became_member_on'])
# transcript = pd.read_csv('https://github.com/bdi475/sp2021-final-case-study-datasets/blob/main/starbucks-rewards/transcript.csv?raw=true')

In [2]:
# Code to import three CSV files
# Read the dataset
import pandas as pd
import numpy as np
import plotly
import plotly.graph_objects as go
import plotly.express as px

portfolio = pd.read_csv('https://github.com/yjlee9612/BDI475-Final-Project-Starbucks/raw/main/portfolio.csv')
profile = pd.read_csv('https://github.com/yjlee9612/BDI475-Final-Project-Starbucks/raw/main/profile.csv',parse_dates=['became_member_on'])
transcript = pd.read_csv('https://github.com/yjlee9612/BDI475-Final-Project-Starbucks/blob/main/transcript.csv?raw=true')

In [3]:
#Check the data types of each column and number of non-missing rows

portfolio.info()
profile.info()
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reward      10 non-null     int64
 1   difficulty  10 non-null     int64
 2   duration    10 non-null     int64
 3   offer_type  10 non-null     object
 4   offer_id    10 non-null     object
 5   email       10 non-null     int64
 6   mobile      10 non-null     int64
 7   social      10 non-null     int64
 8   web         10 non-null     int64
dtypes: int64(7), object(2)
memory usage: 848.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               17000 non-null  int64
 2   member_id         17000 non-null  object
 3   became_member_on  17000 non-null  datetime64[ns]
 4   income            14825 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 664.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   member_id  306534 non-null  object
 1   event      306534 non-null  object
 2   time       306534 non-null  int64
 3   offer_id   134002 non-null  object
 4   amount     138953 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 11.7+ MB

In [4]:
#Display the number of rows and columns
portfolio_rows = portfolio.shape[0]
portfolio_cols = portfolio.shape[1]

profile_rows = profile.shape[0]
profile_cols = profile.shape[1]

transcript_rows = transcript.shape[0]
transcript_cols = transcript.shape[1]

print(portfolio_rows)
print(portfolio_cols)

print(profile_rows)
print(profile_cols)

print(transcript_rows)
print(transcript_cols)

10
9
17000
5
306534
5

In [5]:
#Parse datetime looking strings into valid datetime values if necessary
str(profile['became_member_on'].dtype)

'datetime64[ns]'

In [6]:
#Drop rows with missing values, drop outliers
profile = profile.dropna()

profile

      gender  age                         member_id became_member_on    income
1          F   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0
3          F   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0
5          M   68  e2127556f4f64592b11af22de27a7932       2018-04-26   70000.0
8          M   65  389bc3fa690240e798340f5a15918d5c       2018-02-09   53000.0
12         M   58  2eeac8d8feae4a8cad5a6af0499a211d       2017-11-11   51000.0
...      ...  ...                               ...              ...       ...
16995      F   45  6d5f3a774f3d4714ab0c092238f3a1d7       2018-06-04   54000.0
16996      M   61  2cb4f97358b841b9a9773a7aa05a9d77       2018-07-13   72000.0
16997      M   49  01d26f638c274aa0b965d24cefe3183f       2017-01-26   73000.0
16998      F   83  9dc1421481194dcd9400aec7c9ae6366       2016-03-07   50000.0
16999      F   62  e4052622e5ba45a8b96b59aba68cf068       2017-07-22   82000.0

[14825 rows x 5 columns]

In [7]:
#Browse through data
portfolio.head(3)

   reward  difficulty  duration     offer_type  ... email  mobile  social  web
0      10          10         7           bogo  ...     1       1       1    0
1      10          10         5           bogo  ...     1       1       1    1
2       0           0         4  informational  ...     1       1       0    1

[3 rows x 9 columns]

In [8]:
portfolio.tail(3)

   reward  difficulty  duration     offer_type  ... email  mobile  social  web
7       0           0         3  informational  ...     1       1       1    0
8       5           5         5           bogo  ...     1       1       1    1
9       2          10         7       discount  ...     1       1       0    1

[3 rows x 9 columns]

In [9]:
portfolio.sample(5)

   reward  difficulty  duration     offer_type  ... email  mobile  social  web
9       2          10         7       discount  ...     1       1       0    1
7       0           0         3  informational  ...     1       1       1    0
8       5           5         5           bogo  ...     1       1       1    1
1      10          10         5           bogo  ...     1       1       1    1
3       5           5         7           bogo  ...     1       1       0    1

[5 rows x 9 columns]

In [10]:
profile.head(10)

   gender  age                         member_id became_member_on    income
1       F   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0
3       F   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0
5       M   68  e2127556f4f64592b11af22de27a7932       2018-04-26   70000.0
8       M   65  389bc3fa690240e798340f5a15918d5c       2018-02-09   53000.0
12      M   58  2eeac8d8feae4a8cad5a6af0499a211d       2017-11-11   51000.0
13      F   61  aa4862eba776480b8bb9c68455b8c2e1       2017-09-11   57000.0
14      M   26  e12aeaf2d47d42479ea1c4ac3d8286c6       2014-02-13   46000.0
15      F   62  31dda685af34476cad5bc968bdb01c53       2016-02-11   71000.0
16      M   49  62cf5e10845442329191fc246e7bcea3       2014-11-13   52000.0
18      M   57  6445de3b47274c759400cd68131d91b4       2017-12-31   42000.0

In [11]:
profile.tail(10)

      gender  age                         member_id became_member_on    income
16987      M   57  76ddbd6576844afe811f1a3c0fbb5bec       2016-07-09   40000.0
16988      M   64  f653cf2d8bba42d0a53c2937ee2e5893       2018-01-04   51000.0
16990      F   70  79edb810789c447e8d212a324b44cc16       2016-03-10   39000.0
16992      F   21  400d0536e8794cbb855b0d882d67cbda       2017-09-17   72000.0
16993      M   60  cb23b66c56f64b109d673d5e56574529       2018-05-05  113000.0
16995      F   45  6d5f3a774f3d4714ab0c092238f3a1d7       2018-06-04   54000.0
16996      M   61  2cb4f97358b841b9a9773a7aa05a9d77       2018-07-13   72000.0
16997      M   49  01d26f638c274aa0b965d24cefe3183f       2017-01-26   73000.0
16998      F   83  9dc1421481194dcd9400aec7c9ae6366       2016-03-07   50000.0
16999      F   62  e4052622e5ba45a8b96b59aba68cf068       2017-07-22   82000.0

In [12]:
profile.sample(20)

      gender  age                         member_id became_member_on    income
16547      F   62  b6171a55e9e548c2a75df02f20336045       2017-07-15   66000.0
13761      M   49  4d361ae9efea4d1383a233e5853da745       2018-03-27   52000.0
13688      F   78  8451f1219264411b9555ff7d97d8c9a7       2014-09-23   54000.0
15089      F   84  44c270fc6c344e9ea396ca78c49c1d09       2015-08-30   38000.0
1977       M   64  bfa41c82aea14334811af8b1541c8452       2014-04-04   86000.0
1850       M   54  cd8bbd01523e41b89785601c04393797       2015-04-12   30000.0
9848       M   65  fb8b3cc2fe4f440c949efe6e3e63f744       2016-08-28   77000.0
6363       M   63  8dbfa485249f409aa223a2130f40634a       2015-11-18   48000.0
10686      M   36  e9b3c4645a98455bbd28e5161584f054       2017-10-31   40000.0
2396       M   56  3c0aab5ec5c84358ae54619b88df5b2e       2015-11-29   79000.0
16615      M   29  cdf10567189a4308bc8dabd95ff6d48c       2017-12-15   65000.0
15031      M   50  14cd68209b934834afcbc6f217ddde0a       2017-01-26   38000.0
2482       F   62  38862b09048e4b1289d233f2b42dcfac       2014-04-02   71000.0
1515       M   32  04ca68b26ef14fbc96eb01ab1f2d1fc2       2015-02-13   57000.0
14735      F   58  97ec3a7c95174bab9b9c8053edd72975       2017-08-10  100000.0
11883      F   63  e1ecb71d858d40109db63dcb7ddad876       2018-04-27   63000.0
508        M   77  3a19b640335a4674859c23ee5354ac99       2018-04-07   86000.0
6418       M   55  0e75eea1fe5d40dd822e9f311738400e       2016-04-03   81000.0
2015       M   47  839daabf53df41939a812124a8e0e7aa       2017-09-15   72000.0
7268       M   59  d016152dbf9149b68a6b6657189a2bab       2017-07-05   89000.0

In [13]:
transcript.head(10)

                          member_id  ... amount
0  78afa995795e4d85b5d9ceeca43f5fef  ...    NaN
1  a03223e636434f42ac4c3df47e8bac43  ...    NaN
2  e2127556f4f64592b11af22de27a7932  ...    NaN
3  8ec6ce2a7e7949b1bf142def7d0e0586  ...    NaN
4  68617ca6246f4fbc85e91a2a49552598  ...    NaN
5  389bc3fa690240e798340f5a15918d5c  ...    NaN
6  c4863c7985cf408faee930f111475da3  ...    NaN
7  2eeac8d8feae4a8cad5a6af0499a211d  ...    NaN
8  aa4862eba776480b8bb9c68455b8c2e1  ...    NaN
9  31dda685af34476cad5bc968bdb01c53  ...    NaN

[10 rows x 5 columns]

In [14]:
transcript.tail(10)

                               member_id            event  ...  offer_id amount
306524  d613ca9c59dd42f497bdbf6178da54a7      transaction  ...       NaN  25.14
306525  eec70ab28af74a22a4aeb889c0317944      transaction  ...       NaN  43.58
306526  24f56b5e1849462093931b164eb803b5      transaction  ...       NaN  22.64
306527  24f56b5e1849462093931b164eb803b5  offer completed  ...       NaN    NaN
306528  5ca2620962114246ab218fc648eb3934      transaction  ...       NaN   2.20
306529  b3a1272bc9904337b331bf348c3e8c17      transaction  ...       NaN   1.59
306530  68213b08d99a4ae1b0dcb72aebd9aa35      transaction  ...       NaN   9.53
306531  a00058cf10334a308c68e7631c529907      transaction  ...       NaN   3.61
306532  76ddbd6576844afe811f1a3c0fbb5bec      transaction  ...       NaN   3.53
306533  c02b10e8752c4d8e9b73f918558531f7      transaction  ...       NaN   4.05

[10 rows x 5 columns]

In [15]:
transcript.sample(20)

                               member_id  ... amount
132669  f63428edea1e408bb92692e7f02f4e02  ...    NaN
171090  4c759691ba1e48fe9b74b3272a48771b  ...    NaN
183993  3f7455c3e73f420f870336592072879c  ...    NaN
25327   cd6ae09b413149648db01701b9a0be7d  ...  13.16
229061  f32f71dc2cdb4ec4865e75bad71aaec0  ...    NaN
233625  d4d584a66aa74834b342315859315a62  ...   3.74
55470   773b9b57713f470fbfe74ab32a41a945  ...    NaN
252208  72badd9799484051b932f217a75f11b5  ...    NaN
267444  fed06a1eb5fb46329ad92360327a4412  ...    NaN
38824   718dc2350f494ec4be31f8c3d0ee661c  ...    NaN
101300  3c487d3686d642c687c14eaf3fbd0f15  ...  10.32
32530   5a9e1c3a28374ead8c74b7038831cfde  ...    NaN
111058  8f7dd3b2afe14c078eb4f6e6fe4ba97d  ...    NaN
286873  cadd7084f71e45faac25ea898e03fabc  ...    NaN
153093  9c1f78d1685446f5ba41c2ed13f6b039  ...    NaN
65523   f02befd06b664d4283bb28d3e4cdac03  ...    NaN
13439   2e5b38e0d2054a01a7b08d21cf6d39ad  ...    NaN
17983   5be985879764422ebc1142e867d1bfb0  ...   0.59
100415  dee3814fa583456a8f6635b45a0ba641  ...    NaN
210400  783ff751a56c454ba0b2777a4f4e8c4f  ...    NaN

[20 rows x 5 columns]

In [16]:
profile_sort = profile.sort_values('age', axis=0, ascending=True, inplace=True)
transcript_sort = transcript.sort_values('member_id', axis=0, ascending=True, inplace=True)

In [17]:
profile.head(5)

     gender  age                         member_id became_member_on   income
4016      M   18  68012cc999eb42fda88b5f9b54603d9c       2017-10-10  67000.0
6763      F   18  4e3afc3a5bd54635b938093420edf973       2018-05-22  46000.0
5906      M   18  2ba1d65405594702af723081531011ef       2015-09-30  38000.0
2270      M   18  f0039c5cc78442b1af05a8bfa7548084       2016-09-14  53000.0
750       M   18  d62cf96d9f19459e8ddb11720f1fa78c       2016-10-31  36000.0

In [18]:
transcript.head(5)

                               member_id  ... amount
302205  0009655768c64bdeb2e877511632db8f  ...  18.41
168412  0009655768c64bdeb2e877511632db8f  ...   8.57
300930  0009655768c64bdeb2e877511632db8f  ...  28.16
55972   0009655768c64bdeb2e877511632db8f  ...    NaN
153401  0009655768c64bdeb2e877511632db8f  ...    NaN

[5 rows x 5 columns]

In [19]:
transcript.groupby('member_id')

In [20]:
profile.groupby('member_id')

In [21]:
age_dist = px.histogram(profile, x='age', title='Starbucks Member Age Distribution',nbins=50)
age_dist.show()

I will have to do more work on this dataset! Thank you:)